<mat-tab-group>
    <mat-tab label="Bachelors">
        <span class="mat-header">
            <br>
        <p>
            <b>University: </b>Jawaharlal Nehru Technological University
        </p>
            <p>
                <b>Major's: </b>Electrical Engineering
            </p>
        <p>
            <i class="fas fa-map-marker-alt"></i> Hyderabad, India.
        </p>
        <p>
            <b>Year: </b>2012
        </p>
        </span>
    </mat-tab>
    <mat-tab label="Masters">
        <br>
        <span class="mat-header">
        <p>
            <b>University: </b>Wilmington University, New Castle
        </p>
             <p>
                <b>Major's: </b>Management of Information Systems.
            </p>
        <p>
            <i class="fas fa-map-marker-alt"></i> Delaware, United States.
        </p>
        <p>
            <b>Year: </b>2015
        </p>
        </span>
    </mat-tab>
</mat-tab-group>
<div class="mat-dialog-actions dialog-button">
    <button mat-mini-fab mat-dialog-close="Home">
        <i class="fas fa-times"></i>
    </button>
</div>