
.title-grid {
    align-items: center;
    text-align: center;
}

.title-grid span:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}

.avatar {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.details-grid{
    align-items: center;
}

.details-grid .mat-title button {
    top: 12px;
    left: 450px;
}

.details-grid .mat-title button:hover {
    color: white;
    transform: scale(1.2);
}

.text-highlight:hover {
    color: white;
    cursor: auto;
}

.text-highlight:hover i{
    color: #192a56;
}

.text-indent{
    text-indent: 50px;
}