<html>
<head>
</head>
<body>
<mat-drawer-container autosize class="modern-container">
    <mat-drawer mode="side" opened>
        <a routerLink="/home">
            <span class="mat-display-1">Home</span>
        </a>
    </mat-drawer>
    <mat-drawer-content>
        <span class="mat-subheader pr-4" style="padding-top: 2cm">
            <strong>
                Hi! I'm Meg (pronounced "Megh-amsh), a full stack web developer with over 5 years of experience in a
                wide variety of technologies. Currently working as a Software Engineer at Ford Motor Company.
            </strong>
        </span>
        <br>
        <div class="divider"></div>
        <span class="mat-body-2">
            <p>
                This is Body 2
        </span>
    </mat-drawer-content>
</mat-drawer-container>
</body>
</html>




