
.title-grid{
    top: 10px;
    left: 10%;
}
.title-grid .mat-display-1{
text-align: center;
}

.title-grid span:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.5);
}

.details-grid .mat-title button {
    top: 12px;
    left: 450px;
}

.details-grid .mat-title button:hover {
    color: white;
    transform: scale(1.2);
}

.text-highlight:hover{
    color: white;
    cursor: auto;
}

.modern-box:hover{

}

.avatar {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: center;
    top: 10px;
}