<mat-grid-list class="main-grid" cols="5" rowHeight="900px">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="title-grid">
            <span class="mat-display-1">
                <img alt="Avatar" class="avatar" routerLink="/home" src="assets/images/Meg_Profile.png">
                <br>
                <strong (click)="goHome()">
                      Meghamsh Gurram<br>
                </strong>
        </span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1" class="details-grid">
        <span class="mat-title">
            <strong>
                <p>
                <div class="text-highlight">
                    Hi..! I'm Meg (pronounced "Megh-amsh), a full stack web developer with over 5 years of experience in a
                    wide variety of technologies. Currently working as a Software Engineer at Ford Motor Company.
                </div>

            </strong>
                <p>
                    <div class="text-highlight text-indent">
                        The English Wikipedia has adopted features from Wikipedias in other languages. These features include
                        verified revisions from the German Wikipedia (dewiki) and town population-lookup templates from the
                        Dutch Wikipedia (nlwiki).Although the English Wikipedia stores images and audio files, as well as text
                        files, many of the images have been moved to Wikimedia Commons with the same name, as passed-through files.
                        However, the English Wikipedia also has fair-use images and audio/video files (with copyright restrictions),
                        most of which are not allowed on Commons.
                    </div>
                <p>
                    <div class="text-highlight text-indent">
                The English Wikipedia has adopted features from Wikipedias in other languages. These features include
                verified revisions from the German Wikipedia (dewiki) and town population-lookup templates from the
                Dutch Wikipedia (nlwiki).Although the English Wikipedia stores images and audio files, as well as text
                files, many of the images have been moved to Wikimedia Commons with the same name, as passed-through files.
                However, the English Wikipedia also has fair-use images and audio/video files (with copyright restrictions),
                most of which are not allowed on Commons.
                    </div>
                <p>
                      <div class="text-highlight text-indent">
                The English Wikipedia has adopted features from Wikipedias in other languages. These features include
                verified revisions from the German Wikipedia (dewiki) and town population-lookup templates from the
                Dutch Wikipedia (nlwiki).Although the English Wikipedia stores images and audio files, as well as text
                files, many of the images have been moved to Wikimedia Commons with the same name, as passed-through files.
                However, the English Wikipedia also has fair-use images and audio/video files (with copyright restrictions),
                most of which are not allowed on Commons.
                    </div>
             <button (click)="goHome()" color="accent" mat-raised-button>Home</button>
        </span>
    </mat-grid-tile>
</mat-grid-list>