<mat-grid-list cols="14" rowHeight="20px">
    <mat-grid-tile [colspan]="2" [rowspan]="5">
        <img alt="Logo" class="logo" routerLink="/home" src="assets/images/MGLogo.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="10" [rowspan]="5">
        <div class="box">
            <h1>
                Hello, I'm Meghamsh Gurram.
            </h1>
            <h2>
                I find happiness in being a better me today than
                the me
                yesterday.
            </h2>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="5">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="12">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="12">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="divider"></div>
    </mat-grid-tile>



</mat-grid-list>
