<mat-grid-list cols="3" rowHeight=50%>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-list>
                <p>Java</p>

                <p>Spring</p>

                <p>Cloud</p>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-list>
                <p>Java</p>

                <p>Spring</p>

                <p>Cloud</p>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-list>
                <p>Java</p>

                <p>Spring</p>

                <p>Cloud</p>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-list>
                <p>Java</p>

                <p>Spring</p>

                <p>Cloud</p>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-list>
                <p>Java</p>

                <p>Spring</p>

                <p>Cloud</p>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-list>
                <p>Java</p>

                <p>Spring</p>

                <p>Cloud</p>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
