<div class="container">
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Meg_Profile.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-address-card"></i>
                <h4>About Me</h4>
                <a routerLink="/about-me" >Find Out</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-user-graduate"></i>
                <h4>Education</h4>
                <a routerLink="/education">Know More</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-laptop"></i>
                <h4>Profession</h4>
                <a routerLink="/profession">My Pleasure</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-memory"></i>
                <h4>Technology</h4>
                <a routerLink="/tech">Fun Part</a>
            </div>
        </div>
    </div>
</div>