
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    display: flex;
}

.container .box {
    position: relative;
    width: 250px;
    height: 500px;
    background: white;
    transition: 0.5s;
}

.container .box:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
}

.container .box .thumb {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 250px;
    overflow: hidden;
}

.container .box:nth-child(odd) .thumb {
    bottom: 0%;
    left: 0%;
}

.container .box .thumb img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.container .box .details {
    position: absolute;
    right: 1%;
    left: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #0b2e13;
}

.container .box:nth-child(even) .details {
    bottom: 0%;
    left: 0%;
}

.container .box:nth-child(1) .details {
    background: #00b894;
}

.container .box:nth-child(2) .details {
    background: #f39c12;
}

.container .box:nth-child(3) .details {
    background: #ef3a4e;
}

.container .box:nth-child(4) .details {
    background: #0984e3;
}

.container .box .details .content {
    position: absolute;
    top: calc(50% - 16px);
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
}

.container .box:hover .details .content {
    top: calc(50%)
}

.container .box .details .content .fas {
    font-size: 80px;
    color: #dee2e6;
}

.container .box .details .content h4 {
    margin: 0;
    padding: 10px 0;
    color: #dee2e6;
}

.container .box .details .content a {
    display: inline-block;
    padding: 5px 20px;
    color: #dee2e6;
    border: 2px solid #dee2e6;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}

.container .box:hover .details .content a {
    transform: scale(1);
}

.container .box .details .content a:hover {
    background: white;
    color: black;
}