<div class="container">
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-laptop"></i>
                <h4>Work related</h4>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-user-graduate"></i>
                <h4>Education related</h4>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-trophy"></i>
                <h4>Achievements</h4>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="thumb">
            <img src="assets/images/Coding.png">
        </div>
        <div class="details">
            <div class="content">
                <i class="fas fa-memory"></i>
                <h4>Body goes here</h4>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>