@import "~@angular/material/_theming.scss";

@include mat-core();

$app-primary: mat-palette($mat-blue-grey, 600);
$app-secondary: mat-palette($mat-orange, 300);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-secondary, $app-warn);

@include angular-material-theme($app-theme)


/*@mixin soft-border($border-radius) {
  border-radius: $border-radius;
  padding: 10px;
}

.box {
  @include soft-border(5px);
}

.modern-box {
  @include soft-border(10px);
}*/

$h3Color: white;

h3 {
  color: $h3Color;
}

// Custom typography
$app-typography: mat-typography-config(
  $font-family: 'ZCOOL XiaoWei, serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $subheading-2: mat-typography-level(32px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400)
);

@include angular-material-typography($app-typography)

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #E73C7E, #23A6D5, #90a4ae);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}